

/* body{
    background-color: rgb(41, 41, 41);
}
 */

.container-fluid{
    padding: 25px;
}


h1  {
    margin-left: 15px;
    padding-top: 20px;
}


.movie-zone{
    padding-left: 10px;
}


.nav-icon{
    display: flex;
    flex-direction: row;
}


.carousel-caption h5{
    font-size: 2em;
}

.card{
    padding: 10px;
    margin: 10px;
}



.footer{
    margin-top: 20px;
}


.ur-container{
    border-top: 2px solid #dee2e6;
    display: flex;
    justify-content: space-between;
}

.ur-container p{
    padding-left: 5px;
}

.ur{
    display: flex;
    flex-direction: row;
}


.star-container{
    display: flex;
 
    
}

.icons-container{
    display: flex;
    flex-direction: row;
    
}




@media screen and (min-width: 768px) {


}






@media screen and (min-width: 1100px) {


}